section {
  background: #e9e9e9e1;
  padding: 20px 10px;
}

h1 {
  text-align: center;
  color: #6a5acd;
  font-size: 2.2rem;
  font-weight: bolder;
}

.card {
  display: flex;
  flex-direction: column;
  
  align-items: center;
  text-align: center;
  margin: 5px;
  padding: 20px 10px;
  border-radius: 5px;
}

.card-img {
  height: 110px;
  width: 110px;
  border-radius: 100%;
}

.card-test {
  text-align: justify;
}

.card-test > .h {
  text-align: center;
  color: #ffdfcc;
}
